body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.heading {
  color: #10af89;
}

.container {
  max-width: 800px;
  margin: auto;
}

.name-input,
.desc-input {
  width: 700px;
  border-radius: 5px;
  border: 1px solid #10af89;
}

.add-btn {
  width: 400px;
  height: 38px;
}

.add-btn,
.edit-btn {
  background-color: #13ad89;
}

.btn-danger {
  background-color: #cf5f1d;
}

.list {
  max-width: 1200px;
  margin: auto;
}

.container-fluid {
  padding: 0 15px;
}

.form-group.d-flex {
  margin-bottom: 0.5rem;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Ensure it spans the full width */
}

.filter {
  margin-right: 50px;
}

.filter-drop-down {
  max-width: 170px;
}

.card-body {
  padding: 1.5rem;
  background-color: rgb(204, 245, 211);
  border-radius: 2px;
}

.item-status {
  max-width: 170px;
}

.not-completed:enabled {
  background-color: #fb8181;
}

.completed {
  background-color: #10af89;
}

/*
Moving the edit and delete to right side
*/

.edit-delete {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
